
.main{
    max-width: 1200px;
}

@media (min-width: 1000px){
    section {
        font-size:  0.9rem;
    }
}

@media(max-width: 999px) {
    section {
        font-size:0.8rem;
      
    }
}

body {
	background-color:black;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
section {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
grid-gap: 2vw;
justify-content:center;
}

section > div {
  
padding: 1rem;
border-radius: 8px;
margin: 0.25rem;
width: fit-content;
overflow: hidden;
}
section > div > p {
        min-width: 350px;
    min-width: 30ch;
    max-width: 70ch;
}



h1, h2, h3, h4, h5, h6, p {
  color: white; /* Sets the text color to white for all heading levels */
}
h4 {font-size:150%; font-weight:200;}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3rem;
}

p {
font-size: larger;
}

.contributions {
  color: #5ce1e6; /* The specific color for 'Contributions' */
}
	

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */

  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* Header content styling */

  header {
    display: flex;
    justify-content: space-between; /* Aligns brand to left, menu to right */
    align-items: center; /* Centers items vertically */
    padding: 0 20px; /* Add padding on sides */
    width: 100%; /* Ensure header takes full width */
  }
  
  /* .brand-area {
    /* Styles for your brand area */
  /* } */
  
  .brand-logo {
    padding-top: 10px;
    height: auto; /* Maintain aspect ratio */
    width: 220px; /* Adjust based on your logo size */
  }
  
  .menu { 
    margin: 5px;
    padding: 5px;
    display: flex; /* Align menu items in a row */
    gap: 20px; /* Adjust space between menu items */
  }
  
  .menu a { 
    color: white; /* Set menu item text color to white */
    font-size: 1.2rem; /* Increase font size, adjust as needed */
    text-decoration: none; /* Remove underline from links */
    padding-right: 10px; /* Add space to the right of each menu item */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .menu a:hover {
    color: #5ce1e6; /* Change text color on hover to light blue */
    cursor: pointer; /* Change cursor to indicate clickable item */
  }

/* Main body content styling */

  body {
    display: flex;
    flex-direction: column;
    background-image: url('/assets/background/backgroundOverlay.png'); /* Your overlay image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Cover the entire area, may crop the image */
    min-height: 100vh;
    text-align: center;
    margin: 0; /* Ensure there's no default margin */
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* This centers content vertically in the main element */
    align-items: center; /* This centers content horizontally in the main element */
    width: 100%; /* Ensure it takes the full width */
}


/* Footer content styling */

.footer-container {
  display: flex;
  justify-content: space-between; /* Align children to the left and right */
  align-items: center; /* Center items vertically */
  padding: 10px 20px; /* Add padding on sides */
  width: 100%; /* Ensure footer takes full width */
}

.social-links-container {
  text-align: center; /* Center social links container */
}

.social-links {
  display: inline-block; /* Make social links align in center */
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.social-links a {
  margin: 0 10px; /* Space between icons */
  color: #ffffff; /* Icon color */
  font-size: 24px; /* Icon size */
}

.social-links a:hover {
  color: #5ce1e6; /* Icon hover color */
}

.bi {
  font-size: 2rem; /* Bootstrap icons size */
}

.credits {
  color: white; /* Adjust based on your theme */
  font-size: 1.2rem; /* Adjust based on your design */
  text-align: right; /* Align credit text to the right */
  padding-right: 20px;
}